*{margin: 0; padding: 0;}
h1{
   
    background-color: rgb(230, 55, 55);
    text-align: center;
    color: white;  
    border: none;
}
.histo{
    font-size: 180px;
    background-color: rgb(58, 58, 58);
    color: azure;
    height: 35%;
    font-family: Arial, Helvetica, sans-serif;
    
}